<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="bg-image" style="min-width: 520px;">
  <div>
    <!-- //////////////////  Page 1 /////////////////// -->
    <div class="d-flex flex-column screen">
      
      {% block login %}
      {% endblock %}

      {%block form%}
      {%endblock%}





      <!-- /////////////////////////// Footer //////////////////////// -->
      <div id="copyright" class="footer-baraboo d-flex p-3 pr-2 pl-2">
          <div class="w-25 d-flex flex-column text-center m-0 p-0">
            <span class="font-weight-bold text-light footer-title">Conocenos</span>
            <div class="row justify-content-start">
              <a href="#" class="col-12 footer-text text-light mt-2 mb-2" >Texto 1</a>
              <a href="#" class="col-12 footer-text text-light mb-2">Texto 2</a>
              <a href="#" class="col-12 footer-text text-light">Texto 3</a>
            </div>
          </div>

          <div class="w-25 d-flex flex-column text-center">
            <span class="font-weight-bold text-light footer-title ">Terminos y Condiciones</span>
            <div class="row justify-content-start">
              <a href="#" class="col-12 footer-text text-light mt-2 mb-2">Texto 1</a>
              <a href="#" class="col-12 footer-text text-light mb-2">Texto 2</a>
              <a href="#" class="col-12 footer-text text-light">Texto 3</a>
            </div>
          </div>

          <div class="w-25 d-flex flex-column text-center">
            <span class="font-weight-bold text-light footer-title">Politicas de privacidad</span>
            <div class="row justify-content-start">
              <a href="#" class="col-12 footer-text text-light mt-2 mb-2">Texto 1</a>
              <a href="#" class="col-12 footer-text text-light mb-2">Texto 2</a>
              <a href="#" class="col-12 footer-text text-light">Texto 3</a>
            </div>
          </div>
          <div class="w-25 d-flex flex-column text-center">
            <span class="font-weight-bold text-light footer-title">Ayuda</span>
            <div class="row justify-content-start">
              <a href="#" class="col-12 footer-text text-light mt-2 mb-2">Texto 1</a>
              <a href="#" class="col-12 footer-text text-light mb-2">Texto 2</a>
              <a href="#" class="col-12 footer-text text-light">Texto 3</a>
            </div>
          </div>
        </div>
        
        <div class="footer-bottom w-100 m-0 p-2 pt-3 pb-3 text-center">
            <span class="text-center text-muted "><a class="text-light" href="">Condiciones de uso | Aviso de privacidad</a> 2018 Baraboo.com, Inc. o afiliados. Todos los derechos reservados.</span>
        </div>
    </div>
  </div>
</body>
