<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="bg-image" style="min-width: 520px;">
  <div>
    <!-- //////////////////  Page 1 /////////////////// -->
    <div class="d-flex flex-column screen">
      <nav id="navBar" class="navbar justify-content-end h-auto">
        {% if form.errors %}
          <p class="error">Lo sentimos, la contraseña y el nombre de usuario no son
          validos</p> 
        {% endif %}
        {% block content%}
        <div class="w-50">
          <form class="form-inline justify-content-end w-100" method="POST">
            {% csrf_token %}
            <input name="username" type="text" class="form-control input-login" placeholder="User">
            <input name="password" type="password" class="form-control w-25 input-login" placeholder="Password">
            <button class="bg-dark btn btn-login text-light" type="submit">Log In</button>
          </form>
        </div>
        {% endblock %}
      </nav>
      <div class="flex-fill d-flex flex-column align-items-center justify-content-center" style="height: 50vh;">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col-sm-1"></div>

            <div class="col-12 col-md-10 h-100">
              <div class="container-fluid h-100 p-0">
                <div class="row h-100 align-items-center justify-content-center">
                  <!-- ///////////////////////SEGMENTO IZQUIERDO//////////////// -->
                  <div class="col d-flex justify-content-end align-items-center h-100 p-0">
                    
                    <div id="bgSectL" class="position-absolute d-flex flex-column w-100 align-items-center bgContainerL">
                      {%load static%}
                      <img src="{%static 'img/criptomoneda.png' %}" class="bgImage" alt="">
                      <p id="bgPL" class="w-100 text-justify bgText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae cupiditate deserunt fugiat iusto enim rem dolore eos ducimus distinctio est?</p>
                    </div>

                    <div id="imgL" class="d-flex position-absolute justify-content-end align-items-center w-100 pr-3">
                      {%load static%}
                      <img id="imgLS" src="{% static 'img/bara.png' %}" class="w-100 float-right" alt="">
                    </div>

                    <div id="areaL" onmouseover="actionArea('imgL', 'start')" onmouseout="actionArea('imgL', 'stop')" class="bg-transparent position-absolute w-100 "></div>
                  
                  </div>
                  <!-- ///////////////////////TERMINA SEGMENTO IZQUIERDO//////////////// -->
                  <!-- ///////////////////////SEGMENTO DERECHO//////////////// -->
                  <div class="col d-flex justify-content-start align-items-center h-100 p-0">

                    <div id="bgSectR" class="position-absolute d-flex flex-column w-100 align-items-center bgContainerR" style="opacity: 0; padding-left:12%; padding-right: 25%;">
                      {%load static%}
                      <img src="{% static 'img/edificios.png' %}" style="height: 10vw; width: 10vw; min-width: 70px; min-height: 70px;" alt="">
                      <p id="bgPR" class="w-100">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae cupiditate deserunt fugiat iusto enim rem dolore eos ducimus distinctio est?</p>
                    </div>

                    <div id="imgR" class="d-flex position-absolute justify-content-start align-items-center w-100 pl-3">
                      {%load static%}
                      <img src="{% static 'img/boo 2.png' %}" class="w-100 float-left" alt="">
                    </div>
                    
                    <div id="areaR" onmouseover="actionArea('imgR', 'start')" onmouseout="actionArea('imgR', 'stop')" class="bg-transparent position-absolute w-100"></div>
                  
                  </div>
                  <!-- ///////////////////////TERMINA SEGMENTO DERECHO//////////////// -->
                </div>
              </div>
            </div>


            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>

      <footer class="d-flex align-items-center justify-content-center footShow">
        <input id="showSection" to="info"  onclick="showBtn(this)" type="image" src="{% static 'img/boton2.png' %}" class="btnShow" />
      </footer>
    </div>
    <!-- ////////////////// Termina Page 1 /////////////////// -->
    <!-- //////////////////  Page 2 /////////////////// -->
    <div id="info" class="d-none">
      <div class="d-flex flex-column w-100">
        <div class="d-flex align-items-center justify-content-center bg-primary">
          <h1>IFRAME</h1>
          <h1>WILL</h1>
          <h1>BE</h1>
          <h1>HERE</h1>
        </div>
        <div class="d-flex flex-column flex-row">
          <div class="container-fluid mt-5 mb-5">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-12 col-sm-5"></div>
              <div class="col-12 col-lg-5">
                  <div class="container-fluid pt-3 inRound-Container" style="background-color: transparent">
                    <form action="" class="row">


                      <div class="form-group col-12 d-flex align-items-end">
                        <div class="mr-3 form-label">
                            <label class="pb-0 mb-0 text-light" style="font-size: 25px;" for="firstName">First Name*</label>
                        </div>
                        <div class="flex-fill h-75">
                            <input id="firstName" type="text" class="form-control inRound h-100" style="line-height: 0px;">
                        </div>
                      </div>


                      <div class="form-group col-12 d-flex align-items-end">
                        <div class="mr-3 form-label">
                            <label class="pb-0 mb-0 text-light" style="font-size: 25px;" for="firstName">Last Name*</label>
                        </div>
                        <div class="flex-fill h-75">
                            <input id="lastName" type="text" class="form-control inRound h-100" style="line-height: 0px;">
                        </div>
                      </div>


                      <div class="form-group col-12 d-flex align-items-end">
                        <div class="mr-3 form-label">
                            <label class="pb-0 mb-0 text-light" style="font-size: 25px;" for="firstName">Email*</label>
                        </div>
                        <div class="flex-fill h-75">
                            <input id="email" type="email" class="form-control inRound h-100" style="line-height: 0px;">
                        </div>
                      </div>


                      <div class="form-group col-12 d-flex align-items-end">
                        <div class="mr-3 form-label">
                            <label class="pb-0 mb-0 text-light" style="font-size: 25px;" for="firstName">Birth date*</label>
                        </div>
                        <select id="dobday" class="flex-fill inRound text-muted mr-3 h-75" style="text-align-last: center;"></select>
                        <select id="dobmonth" class="flex-fill inRound text-muted pr-2 mr-3 h-75" style="text-align-last: center;"></select>
                        <select id="dobyear" class="flex-fill inRound text-muted pr-2 h-75" style="text-align-last: center;"></select>
                      </div>


                      <div class="form-group col-12 d-flex align-items-end">
                        <div class="mr-3 form-label">
                            <label class="pb-0 mb-0 text-light" style="font-size: 25px;" for="firstName">Phone*</label>
                        </div>
                        <div class="flex-fill h-75">
                            <input id="phone" type="text" class="form-control h-100 inRound" style="line-height: 0px;">
                        </div>
                      </div>


                      <div class="form-group col-7 d-flex align-items-end">
                        <div class="mr-3 form-label" >
                            <label class="pb-0 mb-0 text-light" style="font-size: 25px;" for="firstName">Document*</label>
                        </div>
                        <div class="flex-fill h-75">
                            <select id="documentSelect" class="form-control h-100 inRound p-0 m-0 text-muted" style="line-height: 0px; text-align-last: center;">
                                <option>INE</option>
                                <option>Pasaporte</option>
                                <option>..........</option>
                            </select>
                        </div>
                      </div>


                      <div class="form-group col-5 d-flex justify-content-end align-items-end">
                          <div class="upload-btn-wrapper h-75 mr-4">
                              <button class="btnF text-muted inRound pl-4 h-100 pr-4" style="line-height: 0px;">.jgp / .pdf</button>
                              <input class="form-control-file" type="file"  id="file" />
                          </div>
                          <div class="upload-btn-wrapper h-75">
                              <button class="btnF text-muted rounded-circle h-100 p-0 m-0" style="line-height: 0px; width: 30px;">▼</button>
                              <input type="file" id="fileBtn" />
                          </div>
                      </div>


                      <div class="col-12 mt-2 mb-3 d-flex justify-content-start align-items-end justify-content-end">
                          <button type="submit" class="h1 btn btn-primary" style="width: 20%;">Send</button>
                      </div>
                    </form>
                  </div>
              </div>
              <div class="col-sm-1" style="height: 20px;"></div>
            </div>
          </div>
        </div>
        <div id="copyright" class="footer d-flex pr-5 pl-5 pt-3">
          <div class="w-25 d-flex text-center">
            <span class="font-weight-bold text-light font-footer">Conocenos</span>
            <span></span>
          </div>
          <div class="w-25 d-flex text-center">
            <span class="font-weight-bold text-light font-footer">Terminos y Condiciones</span>
          </div>
          <div class="w-25 d-flex text-center">
            <span class="font-weight-bold text-light font-footer">Politicas de privacidad</span>
          </div>
          <div class="w-25 d-flex text-center">
            <span class="font-weight-bold text-light font-footer">Ayuda</span>
          </div>
        </div>
        
        <div class="footer-bottom w-100 m-0 p-2 text-center">
            <span class="text-center">Baraboo<br><a href="">Baraboo.com</a></span>
        </div>


      </div>
    </div>
    <!-- ////////////////// Termina Page 2 /////////////////// -->
  </div>
  {%load static%}
  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/baraboo.js' %}"></script>
  <script src="{% static 'js/dobpicker.js' %}"></script>
  <script>
    $(document).ready(function() {
        $.dobPicker({
            daySelector: '#dobday', /* Required */
            monthSelector: '#dobmonth', /* Required */
            yearSelector: '#dobyear', /* Required */
            dayDefault: 'Day', /* Optional */
            monthDefault: 'Month', /* Optional */
            yearDefault: 'Year', /* Optional */
            minimumAge: 12, /* Optional */
            maximumAge: 80 /* Optional */
        });
    });
  </script>
</body>
</html>