<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body style="min-width: 520px; background-color: white">
  <div>
    <!-- //////////////////  Page 1 /////////////////// -->
    <div class="d-flex flex-column" style="height: 100vh; min-height: 540px;">
      <nav id="navBar" class="navbar justify-content-end h-auto">
        {% if form.errors %}
          <p class="error">Lo sentimos, la contraseña y el nombre de usuario no son
          validos</p> 
        {% endif %}
        {% block content%}
        <form class="form-inline ml-2 mr-2 mr-md-3" method="POST">
          <!-- {% csrf_token %} -->
          <input name="username" type="text" class="form-control mr-sm-2" placeholder="User">
          <input name="password" type="password" class="form-control mr-sm-2" placeholder="Password">
          <button class="btn btn-dark my-2 my-sm-0" type="submit">Log In</button>
        </form>
        {% endblock %}
      </nav>
      <div class="flex-fill d-flex flex-column align-items-center justify-content-center" style="height: 50vh;">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col-sm-1"></div>

            <div class="col-12 col-md-10 h-100">
              <div class="container-fluid h-100 p-0">
                <div class="row h-100 align-items-center justify-content-center">
                  <!-- ///////////////////////SEGMENTO IZQUIERDO//////////////// -->
                  <div class="col d-flex justify-content-end align-items-center h-100 p-0">
                    
                    <div id="bgSectL" class="d-flex flex-column w-100 align-items-center" style="opacity: 0; padding-left: 7%; padding-right: 5%;">
                      {%load static%}
                      <img src="{%static 'img/criptomoneda.png' %}" style="height: 10vw; width: 10vw; min-width: 70px; min-height: 70px;" alt="">
                      <p id="bgPL" class="w-100">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae cupiditate deserunt fugiat iusto enim rem dolore eos ducimus distinctio est?</p>
                    </div>

                    <div id="imgL" class="d-flex position-absolute justify-content-end align-items-center w-100">
                      {%load static%}
                      <img id="imgLS" src="{% static 'img/screen1_left_segment-01.png' %}" class="w-100 float-right" alt="">
                    </div>

                    <div id="areaL" onmouseover="actionArea('imgL', 'start')" onmouseout="actionArea('imgL', 'stop')" class="bg-transparent position-absolute w-100 "></div>
                  
                  </div>
                  <!-- ///////////////////////TERMINA SEGMENTO IZQUIERDO//////////////// -->
                  <!-- ///////////////////////SEGMENTO DERECHO//////////////// -->
                  <div class="col d-flex justify-content-start align-items-center h-100 p-0">

                    <div id="bgSectR" class="d-flex flex-column w-100 align-items-center" style="opacity: 0; padding-left:12%; padding-right: 25%;">
                      {%load static%}
                      <img src="{% static 'img/edificios.png' %}" style="height: 10vw; width: 10vw; min-width: 70px; min-height: 70px;" alt="">
                      <p id="bgPR" class="w-100">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae cupiditate deserunt fugiat iusto enim rem dolore eos ducimus distinctio est?</p>
                    </div>

                    <div id="imgR" class="d-flex position-absolute justify-content-start align-items-center w-100">
                      {%load static%}
                      <img src="{% static 'img/screen1_right_segment-01.png' %}" class="w-100 float-left" alt="">
                    </div>
                    
                    <div id="areaR" onmouseover="actionArea('imgR', 'start')" onmouseout="actionArea('imgR', 'stop')" class="bg-transparent position-absolute w-100"></div>
                  
                  </div>
                  <!-- ///////////////////////TERMINA SEGMENTO DERECHO//////////////// -->
                </div>
              </div>
            </div>


            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>

      <footer class="d-flex align-items-center justify-content-center" style="height: 6%; min-height: 50px;">
          <a id="showSection" to="info" onmousedown="showBtn(this)">Mostrar</a>
      </footer>
    </div>
    <!-- ////////////////// Termina Page 1 /////////////////// -->
    <!-- //////////////////  Page 2 /////////////////// -->
    <div id="info" class="d-none">
      <div class="d-flex flex-column w-100">
        <div class="d-flex align-items-center justify-content-center bg-primary">
          <h1>IFRAME</h1>
          <h1>WILL</h1>
          <h1>BE</h1>
          <h1>HERE</h1>
        </div>
        <div class="d-flex flex-column flex-row">
          <div class="container-fluid mt-5 mb-5">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-12 col-sm-5"></div>
              <div class="col-12 col-sm-5 pt-2 pb-4 bg-secondary rounded">
                  <form action="" class="form-row m-0 pl-md-2 pr-md-2">
                      <div class="form-group pr-2 pl-2 w-50">
                          <label for="firstName">First Name</label>
                          <input id="firstName" type="text" class="form-control" placeholder="First Name">
                      </div>
                      <div class="form-group pr-2 pl-2 w-50">
                          <label for="lastName">Last Name</label>
                          <input id="lastName" type="text" class="form-control" placeholder="Last Name">
                      </div>
                      <div class="form-group pr-2 pl-2 m-0 p-0 w-50">
                          <label for="email">Email</label>
                          <input id="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-light">Example mail@mail.com</small>
                      </div>
                      <div class="form-group pr-2 pl-2 w-50">
                          <label for="password">Password</label>
                          <input id="password" type="password" class="form-control" aria-describedby="passwordHelp" placeholder="Password">
                          <small id="passwordHelp" class="form-text text-light">Password must be at least must be 8 characters.</small>
                      </div>
                      <div class="form-group pr-2 pl-2 w-50">
                          <label for="rePassword">Re-enter password</label>
                          <input id="rePassword" type="text" class="form-control" placeholder="Re-enter password">
                      </div>
                      <div class="form-group pr-2 pl-2 w-50">
                          <label for="ethAdress">Ethereum address</label>
                          <input id="ethAdress" type="text" class="form-control" placeholder="Ethereum address">
                      </div>
                      <div class="form-group pr-2 pl-2 w-50">
                          <label for="country">Country</label>
                          <input id="country" type="text" class="form-control" placeholder="Country">
                      </div>
                      <div class="form-group pr-2 pl-2 w-50">
                          <label for="nationality">Nationality</label>
                          <input id="nationality" type="text" class="form-control" placeholder="Nationality">
                      </div>
                      <div class="form-group pr-2 pl-2 w-100">
                          <label for="docs">Documents</label>
                          <input id="docs" aria-describedby="docsHelp" type="file" class="form-control-file">
                          <small id="docsHelp" class="form-text text-light">INE, Visa, Pasaporte, etc...</small>
                      </div>
                      <div class="form-group form-check w-100">
                        <input for="check" type="checkbox" class="form-check-input">
                        <label id="check" class="form-check-label">Check me out</label>
                      </div>
                      
                      <button type="submit" class="btn btn-sm btn-primary ml-5 mr-5">Sign Up</button>
                  </form>
              </div>
              <div class="col-sm-1" style="height: 20px;"></div>
            </div>
          </div>
        </div>
        <footer id="copyright" class="d-flex align-items-center justify-content-center" style="height: 6%; min-height: 50px;">
          <span class="text-center p-2">Baraboo<br><a href="">Baraboo.com</a></span>
        </footer>
      </div>
    </div>
    <!-- ////////////////// Termina Page 2 /////////////////// -->
  </div>
  {%load static%}
  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/baraboo.js' %}"></script>
</body>
</html>