<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="bg-image" style="min-width: 520px;">
  <div>
    <!-- //////////////////  Page 1 /////////////////// -->
    <div class="d-flex flex-column screen">
      <nav id="navBar" class="d-flex p-2 justify-content-end h-auto">
          <form class="form-inline ml-2 mr-2 mr-md-3" action="/recoverpassword/" method="POST">
            {% csrf_token %}
            <input name="email" type="email" class="form-control mr-sm-2" placeholder="email">
            <button class="bg-dark btn btn-login text-light" type="submit">Log In</button>
          </form>
      </nav>
    </div>
  </div>
</body>
</html>