<html>
<header></header>
<body>
<!--
<p style="color:red">apiKey: </p> {{ apiKey }}
<br>
<p style="color:red">apiSecret: </p>{{ apiSecret }}
<br>
<p style="color:red">block: </p>{{ block }}
<br>
<p style="color:red">cuentas desde libreria personal: </p>{{ cuentasPersonalm }}
<br>
<p style="color:red">cuenta nueva: </p>{{ nCuenta }}
se añadio cuenta a wallet list
<br>
<p style="color:red">último bloque: </p>{{ nBlock }}
<br>
<p style="color:red">coinbase adress: </p>{{ coinbase }}
<br>
<p style="color:red">numero del bloque desde cadena completa de bloque: </p>{{ numBloque }}
<br>
<p style="color:red">limite de gas desde cadena completa de bloque: </p>{{ gasLimit }}
<br>
<p style="color:red">cuenta default: </p>{{ cuentaDef }}
<br>
<p style="color:red">status de minero: </p>{{ miningStatus}}
<br>
<p style="color:red">rate de hash: </p>{{ hashRate }}
<br>
<p style="color:red">precio de gas: </p>{{ gasPrice }}
<br>
<p style="color:red">balanace de la cuenta: </p>{{ balance }}
<br>
<p style="color:red">Cuentas desde libreria web3: </p>{{cuentas}}
<br>
<p style="color:red">Transaccciones realizadas por la cuenta: </p>{{ nTransacciones }}
<br>-->
<p style="color:red">Balance de Cuenta Baraboo<p>
{{balanceCuentaBaraboo}}
<p style="color:red">Balance de Cuenta Cliente</p>
{{balanceCuentaCliente}}
<p style="color:red">TransactionHash1:</p>
{{TransactionHash1}}
<p style="color:red">TransactionHash2:</p>
{{TransactionHash2}}
<p style="color:red">TransactionHash2:</p>
{{TransactionHash3}}
<p style="color:red">Numero de transacciones</p>
{{NumeroTransacciones}}
<p style="color:red">Recibo de Transacción</p>
{{reciboTransaccion}}
<p style="color:red"> Precio de eth </p>
{{EthPrice}}
<center style="color:green"><h1>REFRESCAME(F5)</h1></center>
</body>
</html>

