<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body class="bg-image" style="min-width: 520px;">
  <div>
    <!-- /////////////////////////// Login //////////////////////// -->
    <div class="d-flex flex-column">
      <nav id="navBar" class="d-flex p-2 justify-content-end h-auto">
        {% if form.errors %}
        <p class="error">Lo sentimos, la contraseña y el nombre de usuario no son validos</p> 
        {% endif %}
        {% block content%}
        <div class="w-50">
          <form class="form-inline justify-content-end w-100" method="POST">
            {% csrf_token %}
            <input name="username" type="text" class="form-control input-login" placeholder="user or email">
            <input name="password" type="password" class="form-control w-25 input-login" placeholder="Password">
            <button class="bg-dark btn btn-login text-light" type="submit">Log In</button>
          </form>
        </div>
        {% endblock %}
      </nav>
      <!-- /////////////////////////// Termina Login //////////////////////// -->
        
      <!-- /////////////////////////// TITULO //////////////////////// -->
      <div class="w-100 p-4 text-center text-muted" style="font-family: mont-light;">
        <h1>Projects</h1>
      </div>
      <!-- /////////////////////////// Termina TITULO //////////////////////// -->

      <!-- /////////////////////////// Contenido //////////////////////// -->
      <div class="mb-5">
        <div class="container">
          <div class="row">
              <!-- //////////////////////////////////Seccion izquierda///////////////////////////////////////// -->
              {% comment %} <div class="col-1"></div>
              <div class="col-2 p-0 d-flex flex-column" style="background-color: red;">
                <div class="w-100 h-50 p-2" style="background-color: purple;">
                  <div class="card w-100 h-100"></div>
                </div>
                <div class="w-100 h-50 p-2" style="background-color: green;">
                  <div class="card w-100 h-100"></div>
                </div>
              </div> {% endcomment %}
              <!-- //////////////////////////////////Termina Seccion izquierda///////////////////////////////////////// -->
              <!-- //////////////////////////////////Mapa///////////////////////////////////////// -->
              <div class="col-1"></div>
              <div class="col-6 p-2" style="background-color: rgb(112, 55, 112); height: 150px;">
              <div class="h-100 w-100 bg-success">
              </div>
            </div>
            <!-- //////////////////////////////////Termina Mapa///////////////////////////////////////// -->
            <!-- //////////////////////////////////Seccion derecha///////////////////////////////////////// -->
            <div class="col-4 pl-3 d-flex flex-column" style="background-color: red;">
              <div class="w-100 h-100 p-2" style="background-color: purple;">
                <div class="card w-100 h-100"></div>
              </div>
            </div>
            <div class="col-1"></div>
            
            <div class="col-1"></div>
            <div class="col-6 p-2" style="background-color: rgb(112, 55, 112); height: 350px;">
              <div id="map" class="h-100 w-100 bg-success">
              </div>
            </div>
            <!-- //////////////////////////////////Termina Mapa///////////////////////////////////////// -->
            <!-- //////////////////////////////////Seccion derecha///////////////////////////////////////// -->
            <div class="col-4 pl-3 d-flex flex-column" style="background-color: red;">
              <div class="w-100 h-50 p-2" style="background-color: purple;">
                <div class="card w-100 h-100"></div>
              </div>
              <div class="w-100 h-50 p-2" style="background-color: green;">
                <div class="card w-100 h-100"></div>
              </div>
            </div>
            <div class="col-1"></div>
            <!-- //////////////////////////////////Termina Seccion derecha///////////////////////////////////////// -->
            <!-- ////////////////////////////////// Seccion inferior///////////////////////////////////////// -->
            <div class="col-1"></div>
            <div class="col-10 mt-2" style="height: 175px; background-color: yellow;">
              <div class="container-fluid h-100 p-0 m-0">
                <div class="row h-100">
                  <div class="col h-100" style="background-color: rgb(28, 70, 134);"></div>
                  <div class="col h-100" style="background-color: rgb(128, 126, 0);"></div>
                </div>
              </div>
            </div>
            <div class="col-1"></div>
            <!-- ////////////////////////////////// Termina Seccion inferior///////////////////////////////////////// -->

          </div>
        </div>
      </div>
      <!-- /////////////////////////// Termina Contenido //////////////////////// -->
    </div>
    
    <!-- /////////////////////////// Footer //////////////////////// -->
    <div id="copyright" class="footer-baraboo d-flex p-3 pr-2 pl-2">
        <div class="w-25 d-flex flex-column text-center m-0 p-0">
          <span class="font-weight-bold text-light footer-title">Conocenos</span>
          <div class="row justify-content-start">
            <a href="#" class="col-12 footer-text text-light mt-2 mb-2" >Texto 1</a>
            <a href="#" class="col-12 footer-text text-light mb-2">Texto 2</a>
            <a href="#" class="col-12 footer-text text-light">Texto 3</a>
          </div>
        </div>

        <div class="w-25 d-flex flex-column text-center">
          <span class="font-weight-bold text-light footer-title ">Terminos y Condiciones</span>
          <div class="row justify-content-start">
            <a href="#" class="col-12 footer-text text-light mt-2 mb-2">Texto 1</a>
            <a href="#" class="col-12 footer-text text-light mb-2">Texto 2</a>
            <a href="#" class="col-12 footer-text text-light">Texto 3</a>
          </div>
        </div>

        <div class="w-25 d-flex flex-column text-center">
          <span class="font-weight-bold text-light footer-title">Politicas de privacidad</span>
          <div class="row justify-content-start">
            <a href="#" class="col-12 footer-text text-light mt-2 mb-2">Texto 1</a>
            <a href="#" class="col-12 footer-text text-light mb-2">Texto 2</a>
            <a href="#" class="col-12 footer-text text-light">Texto 3</a>
          </div>
        </div>
        <div class="w-25 d-flex flex-column text-center">
          <span class="font-weight-bold text-light footer-title">Ayuda</span>
          <div class="row justify-content-start">
            <a href="#" class="col-12 footer-text text-light mt-2 mb-2">Texto 1</a>
            <a href="#" class="col-12 footer-text text-light mb-2">Texto 2</a>
            <a href="#" class="col-12 footer-text text-light">Texto 3</a>
          </div>
        </div>
      </div>
      
      <div class="footer-bottom w-100 m-0 p-2 pt-3 pb-3 text-center">
          <span class="text-center text-muted "><a class="text-light" href="">Condiciones de uso | Aviso de privacidad</a> 2018 Baraboo.com, Inc. o afiliados. Todos los derechos reservados.</span>
      </div>
    <!-- /////////////////////////// Termina Footer //////////////////////// -->
    
  </div>

  {%load static%}
  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-material-design.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM9WG6wn_EmECRe0xS9ixwDuy1KUEdQoc&callback=initMap"async defer></script>
  <script>
      var map;
      function initMap() {
        
        function location(posicion) {
          var latitude = posicion.coords.latitude;
          var longitude = posicion.coords.longitude;
  
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: latitude, lng: longitude},
            zoom: 8
          });
  
        }
  
        function error(){
          output.innerHTML = "<p>No se pudo obtener tu ubicación</p>";
        }
        
        navigator.geolocation.getCurrentPosition(location,error);
      }

      function findMe() {
        var output = document.getElementById('map');

        if(navigator.geolocation) {
          output.innerHTML = "<p>Tu navegador soporta geolocalizacion</p>";
        } else {
          output.innerHTML = "<p>Tu navegador no soporta geolocalizacion</p>";
        }
      

      function location(posicion) {
        var latitude = posicion.coords.latitude;
				var longitude = posicion.coords.longitude;

        var imgUrl = "https://maps.googleapis.com/maps/api/staticmap?center="
        +latitude+","+longitude+"&size=600x300&markers=color:red%7C"+latitude+","+longitude+"&key=AIzaSyDM9WG6wn_EmECRe0xS9ixwDuy1KUEdQoc";

        output.innerHTML ="<img class='img-fluid' src='"+imgUrl+"'>";
      }

      function error(){
				output.innerHTML = "<p>No se pudo obtener tu ubicación</p>";
      }
      
      navigator.geolocation.getCurrentPosition(location,error);
    
    }
      function SetMap() {
      var mapOptions = {
          center: new google.maps.LatLng(51.5, -0.12),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.HYBRID
      }
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);
      }
      </script>
</body>
</html>