@import url('bootstrap.min.css');
@import url('bootstrap-material-design.min.css');
@import url('bootstrap-material-design.css');

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

.text1, .text2 {
height: 35%;
}

.image {
height: 15px;
width: 15px;
}

.imgContainer {
height: 40%;
}

.backSectL {
padding-left: 10px;
}

.backSectR {
padding-right: 10px;
}

.inRound {
border-radius: 22px;
}
.inRound-Container {
border-radius: 22px;
}

.upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
}

.btnF {
border: 1px solid gray;
background-color: white;
}

.upload-btn-wrapper input[type=file] {
/* font-size: 100px; */
position: absolute;
left: 0;
top: 0;
opacity: 0;
}

.screen {
height: 100vh;
min-height: 540px;
}

.bgContainerL, .bgContainerR {
opacity: 0; 
top: 0px
}

.bgContainerL {
padding-left: 7%;
padding-right: 5%;
}
.bgContainerR {
padding-left: 12%;
padding-right: 25%;
}

.bgImage {
height: 10vw;
width: 10vw;
min-width: 70px;
min-height: 70px;
}

.footShow {
height: 6%;
min-height: 50px;
}

.footer {
height: 6%;
min-height: 50px;
}

.btnShow {
height: 25px;
width: 30px;
}

.bgText {
padding-left: 25%;
padding-right: 25%;
}

.form-label {
width: 5vw;
min-width: 80px;
}

.form-text {
  font-size: 12px;
  color: black;
}

.bg-image {
/* background-image: url('../img/fondo.png'); */
background-repeat: no-repeat;
background-attachment: fixed;
}

.input-login, .btn-login {
  font-size: 10px !important;
  height: calc(1.6rem + 2px);
}

.input-login {
  width: 50% !important;
  margin-right: 8px;
}

.input-login[type ="text"] {
  font-size: 10px !important;
}
 

.input-form {
  font-size: 14px;
}

.btn-login {
  line-height: 0px;
}

.footer-baraboo {
  /* height: 25vh; */
  background-color: #000000;
  width: 100%;
}

.footer-bottom {
  background-color: #0d0d0d;
  font-size: 12px;
}

.font-footer {
  font-size: 15px !important;
}

@font-face {
  font-family: 'future-book';
  src: url(../fonts/Futura\ Book\ Regular.otf);
}

@font-face {
  font-family: 'mont-light';
  src: url(../fonts/Mont-ExtraLightDEMO.otf);
}


.footer-title {
  font-family: future-book;
  font-size: 14px;
}

.footer-text {
  font-family: mont-light;
  font-size: 12px;
}

.form-control[type=text] {
  font-size: 12px !important;
}

.form-control:focus {
  color: black;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent;
}


select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control::-webkit-input-placeholder {
  font-size: 10px;
}

.country {
  padding: 6px 10px;
  line-height: 17px !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.city_bg_img{
  position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
#info{
  min-height: 622px;
  padding-top: 25px;
  margin-bottom: 100px;
}

@media (min-width: 576px) {
  #info {
    padding-top: 0px;
  }
}

@media (min-width: 768px) {
  #info {
    padding-top: 0px;
  }
 }

@media (min-width: 992px) {
  #info {
    padding-top: 90px;
  }
 }

@media (min-width: 1200px) {
  #info {
    padding-top: 150px;
  }
 }

 

.bt_down{
  position:fixed;
  bottom: 0;
  width: 100%;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
}
.bt_down.hide_arrow{
  bottom: -100px;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
}

.btn_login_triengle {
  width: 0;
  height: 0;
  border-top: 64px solid black;
  border-left: 170px solid transparent;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor:pointer;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
}
.btn_login_triengle > span{
  position: absolute;
    top: -50px;
    left: -55px;
    color:white;
    font-size: 12px;
    font-weight: 300;
}
.btn_login_triengle:hover{
  border-top: 64px solid #787878
}

#navBar{
  padding-right: 100px !important;
}

.btn_login{
  position: absolute;
  
  top: 0;
  right: 0;
}

.logo_left{
  position: fixed;
  top: 0;
  left: 0;
  width: 29px;
  margin: 16px;
  z-index: 2;
}

.logo_left.hide_arrow{
  bottom: -100px;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
}

.logofull_left{
  position: fixed;
  top: 0;
  left: -500px;
  width: 125px;
  margin: 16px;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  z-index: 2;
}
.logofull_left.show_logo{
  left: 32px;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
}
.card_invest{
  color:white;
  font-size: 13px;
  font-weight: 200;
}

.btn_white{
  background-color: white;
  color: black !important;
  padding: 15px 10px;
  font-size: large;
  cursor: pointer;
  display: block;
  font-weight: 400;
  text-decoration: none;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
}
.btn_white:hover{
  box-shadow: 0 0 20px 4px #7e7d7da3;
  transform: translate(0,-7px);
    transition-delay: 0s !important;
    text-decoration: none;
}

.btn_black{
  background-color: black;
  color: white !important;
  padding: 15px 10px;
  font-size: large;
  cursor: pointer;
  display: block;
  font-weight: 400;
  text-decoration: none;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
}
.btn_black:hover{
  box-shadow: 0 0 20px 4px #7e7d7da3;
  transform: translate(0,-7px);
    transition-delay: 0s !important;
    text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.separatorLeft {
  border: 0;
  border-left: 1px solid #ccc;
  padding: 0;
}